@font-face {
  font-family: 'Allerta';
  font-style: normal;
  font-weight: 400;
  src: local('Allerta Regular'), local('Allerta-Regular'), url(http://themes.googleusercontent.com/static/fonts/allerta/v4/URdUfE0ePw9inz9dceNoVA.woff) format('woff');
}
